.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log*
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json
.env
terraform/main-vpc/.terraform
terraform/create-eks/.terraform
terraform/iam/irsa/.terraform
terraform/create-rds/.terraform
terraform/create-sqs/.terraform
terraform/create-registry/.terraform
terraform/jwt-secret-key/.terraform
terraform/create-dynamodb/.terraform
terraform/main-vpc/.terraform
terraform/create-eks/.terraform
terraform/iam/irsa/.terraform
terraform/create-rds/.terraform.lock.hcl
terraform/create-sqs/.terraform.lock.hcl
terraform/create-registry/.terraform.lock.hcl
terraform/jwt-secret-key/.terraform.lock.hcl
terraform/create-dynamodb/.terraform.lock.hcl
scripts/observability/values.yaml